# DFNS Service Account Credentials
# See: https://docs.dfns.co/dfns-docs/getting-started/authentication

DFNS_AUTH_TOKEN=.eyJpc3MiOiJhdXRoLmRmbnMuaW8iLCJhdWQiOiJkZm5zOmF1dGg6dXNlciIsInN1YiI6Im9yLTAxamtkLXQ4NTE4LWU3bThqZTQzdjV1N2FjOHQiLCJqdGkiOiJ0by0wMWprZS1pN2Y5NC1laHNyMXQ2NDBjYWw1bjdoIiwiaHR0cHM6Ly9jdXN0b20vdXNlcm5hbWUiOiJzb3ZlcmVpZ24tcG9jIiwiaHR0cHM6Ly9jdXN0b20vYXBwX21ldGFkYXRhIjp7InRva2VuS2luZCI6IlNlcnZpY2VBY2NvdW50IiwidXNlcklkIjoidXMtMDFqa2UtaTdmOTQtZWhzcjF0NmZlMzBsMDFqOCIsIm9yZ0lkIjoib3ItMDFqa2QtdDg1MTgtZTdtOGplNDN2NXU3YWM4dCJ9LCJpYXQiOjE3NzQzMTAzNzQsImV4cCI6MTgzNzM4MjM3NH0.QEVoZux7fZcxQ3iC30ooedB5l1OItruxzm2ktBE8HMw2rlD_GPlRiP5egLM9MyKWwDF7zo_ZoskFBj0-wrTSAQ
DFNS_CRED_ID=
DFNS_PRIVATE_KEY=
DFNS_BASE_URL=https://api.dfns.io

# Server
PORT=3000

# Webhook receiver (public URL for DFNS to send events)
WEBHOOK_RECEIVER_URL=